@import url("./root.css");

.gallery-list {
  display: grid;
  gap: 16px;
  margin-top: 24px;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, max(300px));
    gap: 24px;
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, max(300px));
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(4, max(300px));
  }
  @media screen and (min-width: 1600px) {
    grid-template-columns: repeat(5, max(300px));
  }
}

.gallery-item {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid var(--pale-grey);
  overflow: hidden;
  transition: scale 250ms var(--cubic) 0ms;
}

.gallery-item:hover {
  scale: 107%;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-wrapper {
  width: 100%;
  height: 152px;
}

.gallery-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.gallery-item-info > li {
  font-family: inherit;
  color: var(--naval-grey);
  font-size: 14px;
  text-align: center;
  line-height: 133%;
}

.gallery-item-info li b {
  display: block;
}
