:root {
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --sky-blue: #4e75ff;
  --pale-grey: #808080;
  --naval-grey: #2e2f42;
  font-family: "Montserat", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}