:root {
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --sky-blue: #4e75ff;
  --pale-grey: #808080;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 32px;
}

.search-form {
  display: flex;
  gap: 8px;
}

.search-input {
  font-family: "Montserat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  width: 272px;
  height: 40px;
  border: 1.5px solid var(--pale-grey);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic) 0ms;
}

.search-input:hover {
  border-color: #000;
}

.search-input:focus {
  outline: none;
  border-color: var(--sky-blue);
}

.search-input::placeholder {
  color: var(--pale-grey);
}

.search-btn {
  font-family: "Montserat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--sky-blue);
  text-align: center;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  width: 90px;
  transition: background-color 250ms var(--cubic) 0ms;
}

.search-btn:hover {
  background-color: #6c8cff;
}
